body {
    margin-top: 20px;
    color: #bcd0f7;
    background: #1A233A;
}

.edit-links {
    overflow-y: auto;
}

.in-card .extension-info {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.in-card .extension-logo .extension-info {
    margin: 0 0 1rem 0;
}

.in-card .extension-logo .extension-info  {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.in-card .extension-info h5.title {
    margin: 0 0 0.5rem 0;
}

.in-card .extension-info h6.github {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.in-card .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.card {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 16px;
    height: 620px;
}

.card2 {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-top: -21px;
    max-height: 620px;
}

.header-title {
    text-align: center;
}

.edit-links-title {
    vertical-align: bottom;
    margin-bottom: 2px;
} 

.logo-icon {
    color: yellowgreen;
}

a:hover {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 90%;
    padding: 10px;
}

.edit {
    color: #272E48;
}

.save-btn {
    border-radius: 5px;
    color: #272E48;
    background-color:honeydew;
}

::-webkit-scrollbar {
    height: 0px;
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #272E48;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray;
}